<h3 class="ui header">Register User</h3>
<form action="" class="ui form">
    <div class="field">
        <label for="name">Name</label>
        <input type="text" name="name">
    </div>
    <div class="field">
        <label for="role">Role</label>
        <input type="checkbox" name="role"></input>
    </div>
    <div class="field">
        <label for="email">Email</label>
        <input type="text" name="email">
    </div>
    <div class="field">
        <label for="password">Password</label>
        <input type="password" name="password">
    </div>
    <div class="ui buttons">
        <button class="ui primary ok button" ng-click="vm.add();">Save</button>
        <button class="ui cancel button" ng-click="vm.cancel();">Cancel</button>
    </div>
</form>